<section id="post">
  <h1>{{ page.title }}{% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>

  <article>
    <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
    <div class="details">
      <p class="date">{{ page.date | date_to_long_string }}</p>
    </div>
    <div class="post-body">
 	{{ content }}
    </div>	
    <div class="cat-tags">
	  {% unless page.categories == empty %}
	    <ul class="tag_box inline">
	      <li>Categories</li>
	      {% assign categories_list = page.categories %}
	      {% include JB/categories_list %}
	    </ul>
	  {% endunless %}  

	  {% unless page.tags == empty %}
	    <ul class="tag_box inline">
	      <li>Tags</li>
	      {% assign tags_list = page.tags %}
	      {% include JB/tags_list %}
	    </ul>
	  {% endunless %}
   </div>
  </article>

  {% include JB/comments %}
</section>

<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    if (e.target.nodeName.toUpperCase() != 'BODY') return;
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>
